@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
:root {
  --black-: #04080f;
  --white-: #dae3e5;
  --blue-: #507dbc;
  --lightblue-: #a1c6ea;
  --evenlightblue-: #bbd1ea;
}
body {
  font-family: Bubblegum Sans;
  position: relative;
  background-image: linear-gradient(
    45deg,
    var(--evenlightblue-) 30%,
    var(--blue) 70%
  );
  background-repeat: no-repeat;
  width: 100vw;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
  z-index: 3;
  background-color: #bbd1eaec;
}
#navbarbox {
  display: flex;
}
#main {
  margin-top: 4em;
}
#bookdis {
  width: 70%;
}
#jumbo {
  position: relative;
  padding: 0;
}
#jumbowords {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--evenlightblue-);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(2px);
  text-shadow: #04080f 0px 0px 2px;
}
#jumbowords p {
  font-size: 25pt;
}
#cart {
  width: 30%;
}
#carthead {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--lightblue-);
  border-bottom: solid var(--black-) 2pt;
}
#carthead h4 {
  text-align: center;
  margin: 0;
  width: 100%;
}
#bookList {
  background-color: #a1c6ea;
}
li {
  color: #04080f;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  list-style: none;
}
#total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20pt;
  background-color: #04080f;
  color: #bbd1ea;
}
#totalprice {
  background-color: transparent;
  width: 70%;
  color: #bbd1ea;
}
#foot {
  background-color: var(--white-);
  height: 1em;
}
